/* Apply styles to buttons */
.connect-button {
    background-color: #0e111b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  /* Apply hover effect */
  .connect-button:hover {
    background-color: #1f2639;
  }

  /* YourComponent.css */

.container {
    display: flex;
    align-items: center;
    background-color: #0e111b;
    padding: 10px;
    height: 32px;
    border-radius: 25px 10px 10px 25px;
  }
  
  .avatar {
    margin-right: 10px;
    margin-top: 3px;
    max-width: 35px; /* Set the maximum width for the avatar */
  }
  
  .avatar-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .address {
    text-transform: capitalize;
    flex: 1;
    color: white;
    margin-right: 5px;
    font-size: 13px;
  }
  
  .name {
    color: white;
    margin-right: 5px;
    font-size: 13px;
  }
  
  .address-text {
    color: #ffffff;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .disconnect {
    margin-top: 2px;

  }
  
  .disconnect-button {
    cursor: pointer;
    padding: 7px 10px;
    background-color: #1f2639;
    color: white;
    border: none;
    border-radius: 5px;
  }
  